:root {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--cinnabar);
  background-color: var(--antique-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --coffee: #774D36ff;
  --antique-white: #F3E7D7ff;
  --ecru: #C7B566ff;
  --cinnabar: #EE583Fff;
  --lavender-pink: #F7B3CCff;
  --gamboge: #F3A532ff;
  --dark-sienna: rgb(75, 57, 57);
}

#root {
  margin: 0 auto;
  padding: 2rem;
}

* {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

header h1 {
  font-family: "Old Standard TT-bold", serif;
  color: var(--dark-sienna);
  font-size: 2.5rem;
  font-weight: 800;
  min-width: 200px;
}

/* nav */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  display: inline-block;
  position: relative;
  color: var(--dark-sienna);
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

nav a::after {
  content: '';
  position: absolute;
  height: 2px;
  background: var(--cinnabar);
  bottom: 10%;
  border-radius: 50px;
  transition: .3s all 0.025s;
}

nav a::after {
  left: 0;
  right: 100%;
}

nav a:hover::after {
  left: 0;
  right: 0;
}

/* media item card */
td {
  padding: 1rem;

}

td img {
  width: 660px;
  height: 660px;
  object-fit: cover;
}

td a {
  color: white;
  text-decoration: none;
  background-color: #363636;
  color: white;
  border: none;
  padding: 0.5rem;
}

.media-row {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: var(--cinnabar) 1px double;
}

.media-row h2 {
  color: var(--cinnabar);
  margin-bottom: 10px;
}

/* media item dialog */
dialog {
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  color: rgba(255, 255, 255, 0.87);
}

dialog img,
video {
  height: 70%;
  object-fit: contain;
}

/* single view */
img,
video {
  max-width: 100%;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin: 10px 0;
}

form div {
  display: flex;
  flex-direction: column;
  width: 80%;
}

form input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #363636;
  color: white;
  border: none;
  cursor: pointer;
}

/* footer */

footer {
  position: absolute;
  bottom: 5%;
  left: 45%;
}
